<p><%= current_user.email %></p>
<p>Username: <%= current_user.username %></p>
<p><%= current_user.bio %></p>

  <p><%= image_tag @user.avatar.url(:medium) %> 
  <% if current_user.avatar_file_size != nil %>
    <%= link_to 'Delete Avatar', delete_avatar_path(current_user) %>
  <% end %></p>
  <p><%= image_tag current_user.avatar.url(:thumb) %></p>

  <img src="assets/images/default.png">
  <img src=<%= image_path('default.png') %>> 

<div class="form-group">
  <%= form_for current_user, method: :patch do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
</div>
<div class="form-group">
  <%= f.label :bio %>
  <%= f.text_area :bio %>
</div>
  <%= f.submit %>
<% end %>
<p>
  <% current_user.links.each do |link| %>
    <%= link.title %>
  <% end %>
</p>