<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    <li role="presentation"><a href="#feed" aria-controls="feed" role="tab" data-toggle="tab">User Feed</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="profile">
      <div class="container">
        <h1>Profile</h1> 
        <p><%= current_user.email %></p>
        <p><%= current_user.username %></p>
        <p><%= current_user.bio %></p>
        <p><%= image_tag @user.avatar.url(:medium) %> <%= link_to 'Delete Avatar', delete_avatar_path(@user) %></p>
        <p><%= image_tag @user.avatar.url(:thumb) %></p>
        <p>
          <% current_user.links.each do |link| %>
            <%= link.title %>
          <% end %>
        </p>
      </div> 




    </div>
    <div role="tabpanel" class="tab-pane" id="settings"><%= render :file => 'devise/registrations/edit.html.erb' %></div>
    <div role="tabpanel" class="tab-pane" id="feed">User Feed</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>

</div>


