<h1>Links#show</h1>

<p><%= @link.title %></p>
<p><%= @link.url %></p>
<p><%= @link.votes %></p>

<%= link_to 'Back', root_path %>

<h2>Comments</h2>
<%= form_for([@link, @comment]) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :content %>
	<%= f.text_area :content %>

	<%= f.submit %>

<% end %>
<%= link_to 'New Comment', link_comments_path(@link.id), method: :post %>

<% @link.comments.each do |comment| %>
	<p><%= comment.title %> <%= link_to 'Delete', link_comment_path(@link.id, comment.id), method: :delete  %></p>
	<p><%= comment.content %></p>
<% end %>
